//Colors
$red: #FF0000;
$blue: #0000FF;
$green: #008000;
$yellow: #ffff00;
$light-yellow:  #FEF2BF;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
